<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
    <!--headin5_amrc-->
    <p><i class="fa fa-location-arrow"></i> City 123 Tunisia </p>
    <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
    <p><i class="fa fa fa-envelope"></i> petsForAll@gmail.com  </p>
    
    
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="https://fr.wikipedia.org/wiki/PET">Pets Documentation</a></li>
    <li><a href="https://www.internet-petshop.com/fr/">Pets Shop</a></li>
    <li><a href="https://actu.fr/normandie/sourdeval_50582/insolite-cerise-veille-sur-plus-1-000-petshop-pres-vire-normandie_25869429.html">Pets Acts</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    <!--headin5_amrc ends here-->
    
    <ul class="footer_ul2_amrc">
    <li><a href="https://www.instagram.com/explore/tags/pets/?hl=fr"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Twitter link for pets information</p></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>
    
    
    <div class="container">
   
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2021 | Designed By <b>Pets Company</b></p>
    
    <ul class="social_footer_ul">
    <li><a href="https://www.facebook.com/petsworlddogs"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/pets?lang=fr"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/explore/tags/pets/?hl=fr"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>
    