<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <form [formGroup]="petForm" (ngSubmit)='postPet(petForm.value)'>
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Age</span>
                  <input class="form-control" type="number" placeholder="Age of Pet" formControlName="age">
                </div>
              </div>
             
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Gender</span>
                  <select class="form-control" formControlName="genderPet">
                    <option selected>M</option>
                    <option>F</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <div *ngIf="petForm.controls['genderPet'].invalid &&  (petForm.controls['genderPet'].dirty || petForm.controls['genderPet'].touched)" class="alert alert-danger">
              <div *ngIf="petForm.controls['genderPet'].errors.required">
                  Gender is required
              </div>
          </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Description</span>
                  <textarea class="form-control" placeholder="Description of the pet" required formControlName="description"></textarea>
                </div>
              </div>
              
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Pet Picture</span>
                    <input  type="file" class="custom-file-upload" aria-label="file example"  formControlName="imagePet">
                  </div>
                </div>
                <div *ngIf="petForm.controls['imagePet'].invalid &&  (petForm.controls['imagePet'].dirty || petForm.controls['imagePet'].touched)" class="alert alert-danger">
                  <div *ngIf="petForm.controls['imagePet'].errors.required">
                      Picture is required
                  </div>
              </div>
              <div class="row">
              <div class="col-md-4">
                <div class="form-btn">
                  <button class="submit-btn" type="submit" [disabled]="petForm.pristine || petForm.invalid" (click)="postPet()">Submit</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-btn">
                <button class="reset-btn" type="reset">Reset</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>