<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Donate Pet">
        <mat-card-content>
         
          <form [formGroup]="petForm" class="row g-3">
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Age</label>
                <input type="number" class="form-control" placeholder="Age" name="age" formControlName="age">
              </div>
              <div *ngIf="petForm.controls['age'].invalid &&  (petForm.controls['age'].dirty || petForm.controls['age'].touched)" class="alert alert-danger">
                <div *ngIf="petForm.controls['age'].errors.required">
                    Age is required
                </div>
            </div>
            <div class="col-md-6">
              <label for="inputState" class="form-label">Pet Gender</label>
              <select id="inputState" class="form-select" formControlName="genderPet">
                <option selected>M</option>
                <option value="1">F</option>
              </select>
            </div>
                  <div class="was-validated">
                    <label for="validationTextarea" class="form-label">Description</label>
                    <textarea class="form-control is-invalid" placeholder="Required Description" required formControlName="description"></textarea>
                  </div>
                <div class="mb-3">
                  <label for="inputState" class="form-label">Pet Image</label>
                  <input type="file" class="form-control" aria-label="file example"  formControlName="imagePet">
                  <div class="invalid-feedback">Example invalid form file feedback</div>
                </div>
                <button
                mat-raised-button
                color="primary"
                class="login-button" (click)="postPet()">
                Submit Pet
              </button>
            </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
