<br>
<h2>WAYS TO GIVE </h2>
<h3>Your donation goes straight to work helping tens of thousands of homeless dogs and cats — both at Best Friends Animal Sanctuary and all across the country.</h3>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/images/in-memory.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">In Memory</h5>
          <p class="card-text"> A gift in memory of a pet honors that lasting bond and is a tangible way to honor the enduring love we have for our pets long after they’ve passed.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/images/gift-giving.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gift Giving</h5>
          <p class="card-text">Find a unique gift for that animal lover in your life. Donate to honor someone for his or her birthday, shop the store, and more.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/images/sponsor.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fundraise for Animals</h5>
          <p class="card-text">There are lots of ways you can raise money and awareness to help save the lives of homeless pets. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/images/planned-giving.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Planned Giving</h5>
          <p class="card-text">By making a gift to Best Friends Animal Society through your will, trust or other financial plan, you can help Save Them All now and well into the future.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/123456.jpg" class="d-block w-100" alt="Could not find image">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/123.jpg" class="d-block w-100" alt="Could not find image">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/a.jpeg" class="d-block w-100" alt="Could not find image">
      </div>
    </div>
   
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  